body {
  font-family: "Comic Sans MS", sans-serif;
  background-color: #c1bdb3;
  color: #3d3b3c;
  padding: 0;
  margin: 0;
}

header {
  background-color: #3d3b3c;
  color: #5f5b6b;
  padding: 1em;
  text-align: center;
  width: 100%;
}

.container {
  text-align: center;
  padding: 2em;
  background-color: #5f5b6b;
  color: #c1bdb3;
  margin: 2em 0;
}
